name: Tests

on:
  push:
  #   branches: [main]
  # pull_request:
  #   branches: [main]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Build
        run: go build ./...

      - name: Vet
        run: go vet ./...

      - name: Unit tests
        run: gotestsum --junitfile unit-tests.xml -- ./pkg/d8x_futures/ -v -count=1

      - name: Test report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Unit Test Results
          path: unit-tests.xml
          reporter: java-junit

  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Create .env
        run: |
          cat <<EOF > .env
          PK=${{ secrets.PK }}
          RPC=${{ secrets.RPC }}
          EOF

      - name: Integration tests
        run: gotestsum --junitfile integration-tests.xml -- -tags=integration ./pkg/d8x_futures/ -v -count=1 -timeout=10m

      - name: Test report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Integration Test Results
          path: integration-tests.xml
          reporter: java-junit
